################################################################################
# Composer CMS
################################################################################

# https://github.com/github/linguist/blob/master/docs/overrides.md

/artifacts/**				linquist-vendored

/bootstrap/**				linquist-vendored
/markdown-viewer/**			linquist-vendored
/pandoc/**				linquist-vendored
/revealjs/**				linquist-vendored
/yq/**					linquist-vendored

################################################################################
# End Of File
################################################################################
