# Composer
/.Composer.*
/.composer.mk
/_release

# compose
/.composed
/composer.css

# test
/test.dir/
#WORKING:NOW
/test.dir.hexo/
test.public/
test.source/

# update && build
/.home/
/.sources/
/.tmp/
/build/

# WORKING:NOW HEXO_WORK
/hexo/node_modules/hexo/_config.yml
/hexo/node_modules/hexo/db.json
/hexo/node_modules/hexo/debug.log
/hexo/node_modules/hexo/public
/hexo/node_modules/hexo/source
/hexo/themes/landscape/_config.yml
