<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a><br /><br /> <a rel="author" href="http://www.garybgenett.net">					<img src="http://www.garybgenett.net/favicon.png"					alt="Gary B. Genett"	style="border:0; width:31px; height:31px;"/></a> <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/us/">	<img src="http://i.creativecommons.org/l/by-nc-nd/3.0/us/88x31.png"			alt="CC License"	style="border:0; width:88px; height:31px;"/></a> <a href="http://validator.w3.org/check/referer">					<img src="http://www.w3.org/Icons/valid-xhtml11-blue"					alt="Valid HTML"	style="border:0; width:88px; height:31px;"/></a> <a href="http://jigsaw.w3.org/css-validator/check/referer">				<img src="http://www.w3.org/Icons/valid-css2-blue"					alt="Valid CSS"	style="border:0; width:88px; height:31px;"/></a> <br /> <a href="https://github.com/garybgenett/composer">					<img src="https://raw.githubusercontent.com/garybgenett/composer/devel/icon.png"	alt="Composer"	style="border:0; width:31px; height:31px;"/></a> <a href="http://www.vim.org">								<img src="http://www.vim.org/images/vim_small.gif"					alt="Vim"		style="border:0; width:31px; height:31px;"/></a> <a href="http://git-scm.com">								<img src="https://git.wiki.kernel.org/images-git/d/df/FrontPage%24git-logo.png"	alt="Git"		style="border:0; width:72px; height:27px;"/></a>
    </div>
  </div>
</footer>